
<ul class="w-full max-w-4xl mx-auto p-6 space-y-6">
  <% @users.each do |user| %>
    <li class="flex items-center justify-between flex-col w-full p-6 bg-white rounded-lg md:flex-row">
      <div class="w-20 mr-2">
        <%= image_tag 'img2.jpg', alt: 'icon'%>
      </div>
        <a href="/users/<%= user.id %>" class="flex w-full">
          <div class="flex justify-between w-full">
          <h2 class="flex text-bold text-2xl"><%= user.name%></h2>
          <p class="flex text-bold text-2xl"><%= user.bio%></p>
          <div>Number of Posts: <%= user.posts_counter%> </div>
          </div>
          <%= link_to "More", user_path(id: user.id), class: 'bg-blue-500 rounded-sm text-white p-1' %>
        </a>
    </li>
  <% end %>
</ul>
