<div class="flex flex-col w-full">

<div class="flex items-center justify-between flex-col w-full p-6 bg-white rounded-lg md:flex-row">

  <div class="w-20 mr-2">
  <%= image_tag 'img2.jpg', alt: 'icon'%>
  </div>


  <div class="flex justify-between w-full">
    <h2 class="flex text-bold text-2xl"><%= @user.name%></h2>
    <div>Number of Posts: <%= @user.posts_counter%> </div>
  </div>

</div>

<div class="flex flex-col w-full bg-white rounded-lg p-6 mt-4">
  <div class="text-bold text-lg"><%=@user.bio %></div>
  <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis obcaecati, eius incidunt suscipit earum esse atque vel, est consequuntur nihil reiciendis culpa iusto repellendus, provident laborum id velit mollitia assumenda.
  Cupiditate autem, eius porro aspernatur enim sequi aut facere maiores odit quisquam debitis dolorum ratione architecto inventore impedit reprehenderit assumenda commodi! Autem libero tempore ea eaque, impedit veniam voluptatibus vitae.</div>
</div>
<ul class="w-full max-w-4xl mx-auto p-6 space-y-6">
  <% @user.latest_posts.each do |post| %>
    <li class="flex items-center justify-between flex-col w-full p-6 bg-white rounded-lg md:flex-row">
      <a href="http://127.0.0.1:3000/users/<%=@user.id%>/posts" class="flex w-full">
        <div class="flex justify-between w-full"><h2 class="flex text-bold text-2xl"><%= post.title%></h2>
        <ul class="flex justify-between w-48">
          <li>Comments: <%= post.comments_counter%></li>
          <li>Likes: <%= post.likes_counter%></li>
        </ul>
        </div>
      </a>
    </li>
  <% end %>
</ul>

<div class="flex justify-center">
<%= button_to "See More" %>
</div>


</div>