<%= link_to "Back", user_path(id: params[:user_id]), class: 'bg-gray-500 rounded-sm text-white self-start p-1 mb-2' %>
<div class="flex flex-col w-full">
  <section class="flex items-center justify-between flex-col w-full p-6 bg-white rounded-lg md:flex-row">

    <div class="flex justify-between w-full">

    <div class="w-20 mr-2">
      <img class="w-5 h-4" src=<%= User.find(params[:user_id].photo) %> alt = <%= User.find(params[:user_id].name)%> />
    </div>


      <div class="flex justify-between w-64">
        <h1 class="text-bold text-2xl"><%= User.find(params[:user_id].name) %></h1>
        <p class="number-posts">Number of posts: <%= User.find(params[:user_id].posts_counter) %></p>
      </div>
    </div>
  </section>

  <button class="bg-blue-500 text-white p-2 my-1" type="button">
    <%= link_to 'New Post', new_user_post_path %>
  <button>

  <%= will_paginate @posts %>

  <ul class="w-full max-w-4xl mx-auto p-6 space-y-6">
    <% @posts.each do |post| %>
    
      <li class="flex items-center justify-between flex-col w-full p-6 bg-white rounded-lg md:flex-row">
        <div class="flex flex-col justify-between w-full"><h2 class="flex text-bold text-2xl"><%= post.title%></h2>
          <div class="flex justify-between w-48">
            <li>Comments: <%= post.comments_counter%></li>
            <li>Likes: <%= post.likes_counter%></li>
          </div>
        </div>
        <ul class="mt-2">
          <% post.latest_comments.each do |comment| %>
            <li><%= User.find(comment.author_id).name %>: <%= comment.text %></li>
          <% end %>
        </ul>
          <%= link_to "See Post", user_post_path(user_id: params[:user_id], id: post.id), class: 'bg-blue-500 rounded-sm self-center text-white p-1' %>
          <% if can? :manage, post %>
            <%= link_to "Delete", user_post_path(user_id: params[:user_id], id: post.id), method: "delete", { confirm: "Are you sure?", disable_with: "Processing...", class: "bg-red-600 text-white font-bold rounded-sm" } %>
          <% end %>
      </li>
    <% end %>
  </ul>


</div>
